
{% extends "base.html" %}

{% block content %}
<div class="main-content-index">
    <h1 style="text-align: center;margin-left: 20px;"> 
        <img src="{{ url_for('static', filename='favicon.ico') }}" alt="图标" style="vertical-align: middle; width: 50px; height: 50px;">
        米游社商品小助手
    </h1>
    <h2>使用说明</h2>
    <p>请根据下面的步骤来使用本小助手：</p>
    <ol>
        <li>获取个人信息：点击“获取个人信息”来查看当前用户的信息。</li>
        <li>获取商品列表：点击“获取商品列表”来获取当前可兑换的商品信息。</li>
        <li>新建任务：点击“新建任务”来创建一个新的任务。</li>
        <li>运行任务：在侧边栏中点击“开始运行”来选择并启动任务。</li>
    </ol>

<script>
    // 显示弹窗
    const alertMessage = "{{ alert | safe }}";
    if (alertMessage) {
        alert(alertMessage);
    }
</script>
{% endblock %}
