{% extends "base.html" %}

{% block content %}
<h2>获取商品列表</h2>

<form id="categoryForm" method="POST">
    <div class="form-group">
        <label for="categorySelect">选择游戏类别</label>
        <select class="form-control" id="categorySelect" name="category">
            <option value="bh3">崩坏3</option>
            <option value="hk4e">原神</option>
            <option value="hkrpg">崩坏：星穹铁道</option>
            <option value="bh2">崩坏学园2</option>
            <option value="nxx">未定事件簿</option>
            <option value="bbs">米游社</option>
            <option value="nap">绝区零</option>
        </select>
    </div>
    <button type="submit" class="btn btn-primary">确定</button>
    <button type="button" class="btn btn-danger" id="clear-wishlist">删除备选清单</button>
</form>

<h3 class="golds">目前拥有米游币数：{{ golds }}</h3>
{% if products %}
    <h3 class="mt-4">商品信息</h3>
    <ul class="list-group">
        {% for product in products %}
        <li class="list-group-item">
            <div class="row">
                <div class="col-sm-6" style="color: black;">
                    <strong>商品名称:</strong> {{ product.name }}<br>
                    <strong>商品id:</strong> {{ product.id }}<br>
                    <strong>兑换时间:</strong> {{ product.time }}<br>
                    <strong>商品价格:</strong> {{ product.price }}
                </div>
                <div class="col-sm-6 text-right">
                    <table>
                        <tr>
                            <td>
                                <img src="{{ product.icon }}" alt="商品图标" class="product-icon" ><br>
                            </td>
                            <td>
                                <form class="wishlist-form"  method="POST">
                                    <input type="hidden" name="product_id" value="{{ product.id }}">
                                    <input type="hidden" name="product_time" value="{{ product.time }}">
                                    <input type="hidden" name="product_name" value="{{ product.name }}">
                                    <input type="hidden" name="product_biz" class="product-biz" value="{{ game_biz }}">
                                    {% if golds >= product.price %}
                                        {% if product.time != "1970-01-01 08:00:00" %}
                                        <button type="submit" class="btn btn-success btn-sm add-to-wishlist">加入备选清单</button>
                                        {% else %}
                                        <button type="button" class="button-locked" disabled>商品不可兑换</button>
                                        {% endif %}
                                    {% else %}
                                        <button type="button" class="button-locked" disabled>金币不足</button>
                                    {% endif %}
                                </form>
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
        </li>
        {% endfor %}
    </ul>
{% endif %}

<script>
document.addEventListener('DOMContentLoaded', function() {
    var categoryForm = document.getElementById('categoryForm');
    var categorySelect = document.getElementById('categorySelect');
    var clearWishlistButton = document.getElementById('clear-wishlist');
    var productBizInputs = document.querySelectorAll('.product-biz');
    var addToWishlistForms = document.querySelectorAll('.wishlist-form');


    // 处理类别表单提交
    categoryForm.addEventListener('submit', function(event) {
        event.preventDefault();
        var formData = new FormData(this);
        fetch('{{ url_for("product_list_view") }}', {
            method: 'POST',
            body: formData
        })
        .then(response => response.text())
        .then(html => {
            document.body.innerHTML = html;
            //alert('商品列表已更新');
        })
        .catch(error => {
            alert('获取商品列表失败: ' + error);
        });
    });

    // 处理类别选择变化
    categorySelect.addEventListener('change', function() {
        var selectedCategory = this.value;
        productBizInputs.forEach(function(input) {
            input.value = selectedCategory;
        });
    });

    // 处理清空备选清单按钮点击
    clearWishlistButton.addEventListener('click', function() {
        if (confirm('确定要清空备选清单吗？')) {
            fetch('{{ url_for("clear_wishlist") }}', {
                method: 'POST'
            })
            .then(response => response.json())
            .then(data => {
            if (data.status === 'success') {
                alert('成功！');
            } else {
                alert('失败');
            }
            })
            .catch(error => {
                alert('清空备选清单失败: ' + error);
            });
        }
    });

    // 处理添加到备选清单表单提交
    addToWishlistForms.forEach(function(form) {
        form.addEventListener('submit', function(event) {
            event.preventDefault();
            var formData = new FormData(this);
            fetch('{{ url_for("add_to_wishlist") }}', {
                method: 'POST',
                body: formData
            })
            .then(response => response.json())
            .then(data => {
            if (data.status === 'success') {
                alert('添加到备选清单成功！');
            } else {
                alert('添加到备选清单失败');
            }
            })
            .catch(error => {
                alert('添加到备选清单失败: ' + error);
            });
        });
    });
});


</script>
{% endblock %}