{% extends "base.html" %}


{% block content %}
<h2>开始任务</h2>
<li>由于日志输出使用的是电脑时间 而兑换时间使用的是ntp时间 所以日志上的时间会有所偏差 </li>
<li>前后端校准时间分离，前端获取本地时间，后端获取ntp时间，任务运行默认30秒校准一次，小于60秒不再校准</li>

<form method="POST" action="/run_task" id="start-task-form">
    <label for="task-select">选择任务:</label>
    <select id="task-select" name="task">
        {% for task in tasks %}
        <option value="{{ task.time }}">{{ task.name }}</option>
        {% endfor %}
    </select>
    <br><br>
    <table class="time-table">
        <tr>
            <td><label for="target-time">目标时间:</label></td>
            <td><label for="current-time">当前时间:</label></td>
        </tr>
        <tr>
            <td><span id="target-time"></span></td>
            <td><span id="current-time"></span></td>
        </tr>
    </table>
    <br>
    <table class="remaining-time">
        <tr>
            <td><label for="remaining-time">剩余时间:</label></td>
        </tr>
        <tr>
            <td><span id="remaining-time"></span></td>
        </tr>
    </table>

    <br>
    <button type="button" class="btn btn-primary" id="start-task-button">
        {% if task_running %}
            停止任务
        {% else %}
            开始任务
        {% endif %}
    </button>
</form>

<div id="task-status" style="color: #ff0000; font-size: 16px;font-family:Arial, Helvetica, sans-serif;">
    {% if task_running %}
        <p><i class="fas fa-sync-alt fa-spin"></i> 任务正在进行中</p>
    {% else %}
        <p><i class="fas fa-times-circle"></i> 当前没有正在运行的任务</p>
    {% endif %}
</div>


<div class="scroll-box" id="task-messages">
    <h3>任务消息</h3>
    <ul id="messages-list"></ul>
</div>


<script>
    let currentTask = {{ 'true' if task_running else 'false' }};

    document.addEventListener('DOMContentLoaded', function() {
        updateTaskTime();
        pollTaskMessages();
        pollTaskStatus();
    });

    document.getElementById("task-select").addEventListener("change", function() {
        updateTaskTime();
        enableStartButton();
    });



    function showTime() {
            // 获取当前时间
            let date = new Date();
            let year = date.getFullYear();
            let month = date.getMonth() + 1; 
            let day = date.getDate();
            let hours = date.getHours();
            let minutes = date.getMinutes();
            let seconds = date.getSeconds();

            month = (month < 10 ? '0' : '') + month;
            day = (day < 10 ? '0' : '') + day;
            hours = (hours < 10 ? '0' : '') + hours;
            minutes = (minutes < 10 ? '0' : '') + minutes;
            seconds = (seconds < 10 ? '0' : '') + seconds;

            let timeString = `${year}-${month}-${day} ${hours}:${minutes}:${seconds}`;
            document.getElementById('current-time').innerText = timeString;

            setTimeout(showTime, 1000);
        }

    window.onload = function() {
        showTime();
    };



    function updateTaskTime() {
        var taskSelect = document.getElementById("task-select");
        var taskTime = taskSelect.value;

        var formattedTaskTime = taskTime.replace('T', ' ') + ":00";

        document.getElementById("target-time").innerText = formattedTaskTime;
    }

    setInterval(function() {
        var targetTimeString = document.getElementById("target-time").innerText;
        var currentTimeString = document.getElementById("current-time").innerText;

        var targetTime = new Date(targetTimeString);
        var currentTime = new Date(currentTimeString);

        var timeDifference = targetTime - currentTime;

        if (timeDifference > 0) {
            var remainingSeconds = Math.floor(timeDifference / 1000);

            var hours = Math.floor(remainingSeconds / 3600);
            remainingSeconds %= 3600;
            var minutes = Math.floor(remainingSeconds / 60);
            var seconds = remainingSeconds % 60;

            document.getElementById("remaining-time").innerText =
                hours + "小时 " + minutes + "分钟 " + seconds + "秒";
        } else {
            document.getElementById("remaining-time").innerText = "时间已到!";
        }
    }, 1000);

    function enableStartButton() {
        var startButton = document.getElementById("start-task-button");
        startButton.disabled = false;
    }


    document.getElementById('start-task-button').addEventListener('click', async function() {
        if (currentTask) {
            const response = await fetch('/stop_task', { method: 'POST' });
            if (response.ok) {
                alert('任务已停止');
                currentTask = false;
                document.getElementById('start-task-button').innerText = '开始任务';
                document.getElementById('task-status').innerHTML = '<p><i class="fas fa-times-circle"></i> 当前没有正在运行的任务</p>';
            } else {
                alert('没有正在运行的任务');
            }
        } else {
            const form = document.getElementById('start-task-form');
            const formData = new FormData(form);
            const response = await fetch('/run_task', { method: 'POST', body: formData });
            if (response.ok) {
                alert('任务已开始');
                currentTask = true;
                document.getElementById('start-task-button').innerText = '停止任务';
                document.getElementById('task-status').innerHTML = '<p><i class="fas fa-sync-alt fa-spin"></i> 任务正在进行中</p>';
            } else {
                alert('无法启动任务');
            }
        }
    });

    function pollTaskMessages() {
        setInterval(() => {
            fetch('/get_task_messages')
            .then(response => response.json())
            .then(data => {
                var messagesList = document.getElementById('messages-list');
                var currentMessages = Array.from(messagesList.getElementsByTagName('li')).map(li => li.textContent);
                data.messages.forEach(message => {
                    if (!currentMessages.includes(message)) {
                        var li = document.createElement('li');
                        li.textContent = message;
                        messagesList.appendChild(li);
                    }
                });
            });
        }, 1000);
    }

    function pollTaskStatus() {
        setInterval(async () => {
            const response = await fetch('/get_task_status');
            const data = await response.json();
            if (data.task_running !== currentTask) {
                currentTask = data.task_running;
                if (currentTask) {
                    document.getElementById('start-task-button').innerText = '停止任务';
                    document.getElementById('task-status').innerHTML = '<p><i class="fas fa-sync-alt fa-spin"></i> 任务正在进行中</p>';
                } else {
                    document.getElementById('start-task-button').innerText = '开始任务';
                    document.getElementById('task-status').innerHTML = '<p><i class="fas fa-times-circle"></i> 当前没有正在运行的任务</p>';
                }
            }
        }, 1000);
    }
</script>

{% endblock %}
