body {
    display: flex; /* 使用flex布局 */
    margin: 0; /* 移除默认边距 */
    font-family: Arial, sans-serif; /* 设置字体 */
}
.top-bar {
    background-color: #343a40;
    color: #ffffff;
    padding: 10px 0;
}

.sidebar {
    width: 200px; /* 侧边栏宽度 */
    background-color: #f8f9fa; /* 背景颜色 */
    padding: 20px; /* 内边距 */
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1); /* 阴影效果 */
    position: fixed; /* 固定位置 */
    height: 100%; /* 高度 */
    overflow-y: auto; /* Y轴滚动 */
}

.nav {
    list-style-type: none; /* 移除列表样式 */
    padding: 0; /* 移除内边距 */
}

.nav-item {
    margin-bottom: 10px; /* 项之间的间距 */
}

.nav-link {
    text-decoration: none; /* 移除下划线 */
    color: #007bff; /* 字体颜色 */
    font-weight: bold; /* 字体加粗 */
    display: block; /* 块级显示 */
    padding: 10px; /* 内边距 */
    border-radius: 5px; /* 边框圆角 */
    transition: background-color 0.3s; /* 背景颜色过渡效果 */
}

.nav-link:hover {
    background-color: #e2e6ea; /* 鼠标悬停背景颜色 */
}

.main-content {
    margin-left: 250px; /* 主内容的左边距，等于侧边栏宽度加上一些间距 */
    padding: 20px; /* 内边距 */
    flex-grow: 1; /* 弹性增长 */
    
}


.main-content-index {
    margin-left: 50px; /* 主内容的左边距，等于侧边栏宽度加上一些间距 */
    padding: 20px; /* 内边距 */
    flex-grow: 1; /* 弹性增长 */
    
}


h1, h2 {
    color: #2c3e50;
}

p {
    line-height: 1.6;
}

ol {
    margin: 20px 0;
    padding-left: 20px;
}

ol li {
    margin-bottom: 10px;
}

form {
    margin-bottom: 20px; /* 表单底部间距 */
}

label {
    display: block; /* 块级显示 */
    margin-bottom: 5px; /* 底部间距 */
    font-weight: bold; /* 字体加粗 */
}

select, input, button {
    display: block; /* 块级显示 */
    margin-bottom: 10px; /* 底部间距 */
    padding: 14px; /* 内边距 */
    width: 100%; /* 宽度 */
    box-sizing: border-box; /* 盒模型 */
    border: 1px solid #ced4da; /* 边框 */
    border-radius: 5px; /* 边框圆角 */
    font-size: 16px; /* 字体大小 */
    font-family: Arial, sans-serif; /* 字体 */
}
option {
    padding: 20px;
    font-size: 16px;
    color: #333;
    background-color: #fff; /* 背景颜色 */
}


button {
    
    background-color: #007bff; /* 背景颜色 */
    color: white; /* 字体颜色 */
    font-weight: bold; /* 字体加粗 */
    cursor: pointer; /* 鼠标样式 */
    border: none; /* 移除边框 */
}


.button-locked {
    
    background-color: #5d5d5d; /* 背景颜色 */
    color: rgb(255, 255, 255); /* 字体颜色 */
    font-weight: bold; /* 字体加粗 */
    cursor: pointer; /* 鼠标样式 */
    border: none; /* 移除边框 */
}





button:hover {
    background-color: #0056b3; /* 鼠标悬停背景颜色 */
}

.row {
    display: flex; /* 使用flex布局 */
    justify-content: space-between; /* 两端对齐 */
    align-items: center; /* 垂直居中 */
}

.col-sm-6.text-right {
    text-align: right; /* 文本右对齐 */
    flex: 0 0 auto; /* 不允许弹性增长或收缩 */
}

.product-icon {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    margin-right: 35px
    
    /*左边的边距*/
}

.golds{
    color: #2600ff;
    /*居中*/
    text-align: center;
}

.time-table {
    width: 100%;/* 宽度100% */
    border-collapse: collapse;/* 合并边框 */
    text-align: center;/* 文本居中 */
}
.time-table td, .time-table th {
    padding: 10px;/* 内边距 */
    border: 1px solid #ddd;/* 边框 */
}
.time-table span {
    color: blue;/* 字体颜色 */
    font-weight: bold;/* 字体加粗 */
    font-family: Arial, Helvetica, sans-serif;/* 字体 */
}
.remaining-time {
    width: 100%;
    border-collapse: collapse;
}

.remaining-time th, .remaining-time td {
    border: 1px solid #ddd;
    padding: 10px;
}

.remaining-time label {
    color: black;
    text-align: center;
    display: block;
    width: 100%;
}

.remaining-time span {
    color: blue;
    font-weight: bold;
    font-size: larger;
    text-align: center;
    display: block;
    width: 100%;
}
.scroll-box {
    width: auto; /* 设置宽度 */
    height: 300px; /* 设置高度 */
    overflow-y: scroll; /* 只有在内容超出框的高度时显示垂直滚动条 */
    border: 1px solid #ccc; /* 边框样式 */
    padding: 10px; /* 内边距 */
}
.task-messages {
    width: 100%;
    height: 200px;
    resize: vertical;
    margin-bottom: 10px;
}
.task-container {
    margin-bottom: 20px;
    border: 1px solid #ccc;
    padding: 10px;
}